p
  / This line won't get displayed.
    Neither does this line.
    Nor this.
  | This is not a comment anymore.
  /
    This is also a multi-line comment
    Hello world!
p
  /! This will get displayed as html comment.
